<ol class="list-unstyled">
{% for date in archive_dates %}
  {# {% with date|date:"M"|lower as urlmonth %} #}
  {# <li><a href="{% url 'picture_archive_month' year=date.year month=urlmonth %}">{{ date|date:"F Y" }}</a></li> #}
  {# {% endwith %} #}
  <li><a href="{% url 'picture_archive_month' year=date.year month=date|date:"M"|lower %}">{{ date|date:"F Y" }}</a></li>
{% endfor %}
</ol>
