<div class="blog-post" id="picture-{{ picture.pk }}">
<h2 class="blog-post-title"><a href="{% url 'picture_detail' pk=picture.pk %}">{{ picture.caption }}</a></h2>
<p class="blog-post-meta">{{ picture.source_date_created }} by <a href="{{ picture.source_url }}">{{ picture.author|default:"unknown" }}</a></p>
<p>
  <video class="JS-video" autoplay="yes" {% if picture.poster %}poster="{{ picture.poster.url }}"{% endif %} preload="auto" loop="" muted="">
      <source src="{{ picture.video_mp4.url }}" type="video/mp4">
      <source src="{{ picture.video_webm.url }}" type="video/webm">
  </video>
</p>
</div>
