{% extends "base.html" %}

{% block og_tags %}
{% if picture.poster %}
<meta property="og:image" content="http://{{ request.get_host }}{{ picture.poster.url }}" />
{% endif %}

<meta property="og:video" content="http://{{ request.get_host }}{{ picture.video_webm.url }}" />
<meta property="og:title" content="{{ picture.caption }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ picture.caption }}" />
<meta property="og:url" content="http://{{ request.get_host }}{% url 'picture_detail' picture.pk %}" />
{% endblock %}

{% block content %}
  {% include "reactengine/picture.include.html" %}
{% endblock %}
