{% extends "base.html" %}

{% block content %}

  {% for picture in pictures %}
    {% include "reactengine/picture.include.html" %}
  {% endfor %}

  {% if paginator.num_pages > 1 %}
  <nav>
    <ul class="pager">
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

{% endblock content %}
